#result-wrapper {
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
}

#descriptions {
    height: 100%;
    display: none;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 5px;
    margin: 5px;
}

.nothing-found {
    background-color: #b1b1d0;
    background-image: url("/images");
    content: "🫥";
}

.description-name {
    text-align: center;
    padding: 3px;
    margin-bottom: 5px;
}

.description-text-section {
}

.text-part-wrapper {
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.addtl-text-part-wrapper {
    border-top: solid 2px #b4c0e7;

}

.frozen-text-part {
    resize: vertical;
    height: 100%;
    background-color: #d1d1f8;
}

.text-part-controls {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.aux-image-button {
    border: none;
    background-color: transparent;
    box-shadow: 1px 1px 1px 1px #11131a;
    padding: 3px;
    margin: 3px;
}

.description-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.maxlen-field {
    width: 4em;
}

.aux-image-popup {
    min-width: 33vw;
    min-height: 42vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    border-radius: 20px;
    box-shadow: 7px 7px 1px 1px #21222c;
}

.popup-text-part {

}

.popup-controls {

}

.aux-image {
    width: 30px;
    height: 30px;
    margin-bottom: -5px;
    padding: 6px;
}

.popup-close-x {
    position: absolute;
    top: 10px;
    right: 10px;
}

.popup-click-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
}

#import-export {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 400px) {
    #result-wrapper {
        justify-content: center;
    }
}