.dropdown {
    position: relative;
}

.dropdown-img {
    width: 20px;
    height: 20px;
}

.dropdown-content {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 256px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    border: solid 3px var(--border);
    border-radius: 15px;
    overflow-y: scroll;
    z-index: 1001;
}

.side-dropdown {
    position: absolute;
    top: 0;
    left: calc(100% + 3px);
}

.dropdown-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    max-height: 80vh;
    overflow-y: scroll;
}

.dropdown-option {
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 0;
    border: none;
    color: var(--text);
    box-shadow: none;
    font-size: 1.2rem;
    font-weight: 900;
    font-family: "Atkinson Hyperlegible", sans-serif;
    background-color: var(--editable);
    outline: none;
}

.dropdown-option:hover {
    background-color: var(--engaged);
    border-radius: 0;
}

.submenu-button {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--text);
    font-family: "Atkinson Hyperlegible", sans-serif;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.submenu-button img {
    height: 20px;
    width: 20px;
}

.submenu-button:focus {
    outline: none;
    cursor: pointer;
}

.dots-btn-img {
    /*padding: 0 ;*/
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: var(--shadow);
    opacity: 0.3;
}

.openable {
    display: none;
}

.open {
    display: flex;
}

.not-found {
    display: none;
    padding: 30px 10px;
    text-align: center;
    font-size: 1.3rem;
    background-color: var(--readable);
}

.dropdown-footer {
    width: 100%;
    display: block;
    padding: 10px 0;
    text-align: center;
    color: var(--text);
    background-color: var(--readable);
    border-top: solid 2px var(--border);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#extract-lang-btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 11px 10px;
}

#page-lang-name {
    display: none;

    padding: 10px;
    font-size: 1.3em;
    font-weight: 900;
    background: #09173d;
    color: #EDEDED;
    border: none;
    box-shadow: 0 3px 0 0 rgba(0,0,0, 10%);
    border-radius: 15px 0 0 15px;
    cursor: default;
}

#page-lang-btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.now-kiss {
    display: flex;
    flex-direction: row;
    gap: 3px;
}