.dropdown {
    position: relative;
}

.drop-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 3px;
}

.dropdown-img {
    width: 20px;
    height: 20px;
}

.dropdown-content {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 256px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    border: solid 3px black;
    border-radius: 15px;
    z-index: 1001;
}

.dropdown-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    max-height: 80vh;
    overflow-y: scroll;
}

.dropdown-option {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0;
    border: none;
    color: black;
    background-color: white;
}

.dropdown-option:hover {
    background-color: #050d2c;
    color: white;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #6882e8;
    opacity: 0.4;
}

.openable {
    display: none;
}

.open {
    display: block;
}

.not-found {
    padding: 30px 10px;
    text-align: center;
    font-size: 1.3rem;
    background-color: #e1e0e0;
}

.dropdown-footer {
    width: 100%;
    display: block;
    padding: 10px 0;
    text-align: center;
    color: black;
    background-color: white;
    border-top: solid 2px black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#extract-btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#extract-lang-btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 11px 10px;
}

#page-lang-name {
    padding: 10px;
    font-size: 1.3em;
    font-weight: 900;
    background: #09173d;
    color: #EDEDED;
    border: none;
    box-shadow: 0 3px 0 0 rgba(0,0,0, 10%);
    border-radius: 15px 0 0 15px;
    cursor: default;
}

#page-lang-btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.now-kiss {
    display: flex;
    flex-direction: row;
    gap: 3px;
}