@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/AtkinsonHyperlegible-BoldItalic.woff2') format('woff2'),
        url('/fonts/AtkinsonHyperlegible-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/AtkinsonHyperlegible-Bold.woff2') format('woff2'),
        url('/fonts/AtkinsonHyperlegible-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/AtkinsonHyperlegible-Italic.woff2') format('woff2'),
        url('/fonts/AtkinsonHyperlegible-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/AtkinsonHyperlegible-Regular.woff2') format('woff2'),
        url('/fonts/AtkinsonHyperlegible-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

