:root {
    --background: #8fa3f1;
    --live: #c8dbff;
    --engaged: #5f78f3;
    --disabled: #858bad;
    --border: #42345e;
    --item: #42477e;
    --editable: #D6D7EA;
    --readable: #afafd3;
    --shadow: #6376c8;
    --text: #1f1917;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #8fa3f1;
        --live: #c8dbff;
        --engaged: #5f78f3;
        --disabled: #858bad;
        --border: #42345e;
        --item: #42477e;
        --editable: #D6D7EA;
        --readable: #afafd3;
        --shadow: #6376c8;
        --text: #140f07;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #010929;
        --live: #499fb0;
        --engaged: #6951cd;
        --disabled: #858bad;
        --border: #42345e;
        --item: #773585;
        --editable: #101127;
        --readable: #3a166b;
        --shadow: #465593;
        --text: #cfc7bf;
    }
}

html {
    height: 100%;
}

body {
    align-items: stretch;
    background-color: var(--background);
    color: var(--text);
    box-sizing: border-box;
    font-family: "Atkinson Hyperlegible", sans-serif;
    height: 100%;
    margin: 0 auto;
    min-height: 100%;
}

.page-button {
    border-radius: 15px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--text);
    background: var(--live);
    border: solid 2px var(--border);
    box-shadow: 1px 1px 1px 1px var(--shadow);
    cursor: pointer;
}

.page-button:hover:not(.loading), .page-button:focus:not(.loading):not(.depressed) {
    background: var(--engaged);
    cursor: pointer;
}

.page-button:disabled, .page-button:disabled:hover {
    background: var(--disabled);
    border: dashed 2px rgba(var(--border), 0.6);
    opacity: 0.6;
    cursor: auto;
}

.bordered-area .page-button:not(.emoji-button) {
    width: 100%;
}

.focused {
    background: var(--engaged);
}

label {
    background-color: transparent;
    color: var(--text);
}

label:hover:not(#upload-label) {
    background: var(--engaged);
}

input {
    border: none;
    color: var(--text);
}

a, a:visited {
    color: var(--text);
}

a:focus, a:hover {
    filter: drop-shadow(2px 4px 4px var(--shadow));
}

textarea {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    font-family: "Atkinson Hyperlegible", sans-serif;
    color: var(--text);
}

input:read-only {
    background: var(--readable);
}

textarea:read-only {
    background: var(--readable);
}

input:read-write {
    background: var(--editable);
}

textarea:read-write {
    background: var(--editable);
}

input[type=file] {
    position: fixed;
    top: -10000px;
    /*opacity: 0;*/
}

input[type=color] {
    border-radius: 5px;
    background-color: var(--border);
}

#main {
    margin: 0 auto;
    width: 98vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    align-content: center;
}

#top-controls {
    padding-top: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
}

#main-area {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 10px;
    align-items: stretch;
    flex-basis: 91vh;
    max-height: 90vh
}

#left-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#work-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
}

#img-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    margin: 10px 0;
}

#cvs-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    /*margin: 0 auto;*/
    /*padding: 1rem 0;*/
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#img-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 10px;
}

#extract-btn {
    display: none;
    margin: 0 10vw;
    height: fit-content;
}

#exec-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1001;
    background-color: rgba(var(--shadow), 0.5);
}

#exec {
    position: relative;
    width: 60vw;
    z-index: 1001;
    margin-top: 10vh;
}

#exec .dropdown-content {
    position: relative;
}

#exec > button {
    opacity: 0;
}

.file-input-lbl {
    border-radius: 15px;
    padding: 10px;
    font-size: 1.3em;
    font-weight: 900;
    background: var(--live);
    border: none;
    box-shadow: 0 3px 0 0 var(--shadow);
}

.file-input-lbl:hover {
    background: var(--engaged);
    cursor: pointer;
}

#filter-wrapper {
    width: 100%;
}

#result-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;
}

.bordered-area {
    border: solid 2px var(--border);
    box-shadow: 1px 1px 1px 1px var(--shadow);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 15px;
}

#palette-wrapper .bordered-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#palette-wrapper .bordered-area input[type=text] {
    border: solid 2px var(--border);
    border-radius: 5px;
}


#palette-chooser-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.name-input {
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    margin: 0 auto;
    width: 60%;
}

.disabled {
    background-color: var(--disabled);
}

#palette-wrapper {
    padding: 0 5px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: var(--editable);
    border-radius: 15px;
}

.palette-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 5px;
    flex-wrap: nowrap;
}

.rounded-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.search-width {
    width: 45vw;
    min-width: 45vw;
    max-width: 45vw;
}

.search-toggles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: var(--editable);
    box-shadow: 1px 1px 1px 1px var(--shadow);
    /*border-bottom: solid 2px black;*/
    padding-right: 10px;
}

.search-input {
    width: 100%;
    padding: 10px 5px;;
    font-size: 1.3rem;
}

.display-item {
    padding: 5px;
    border-radius: 15px;
    background-color: var(--item);
    display: flex;
    flex-direction: column;
}

#upload-wrapper {
    border: solid 2px transparent;
    display: flex;
    flex-flow: column wrap;
    place-content: center;
    padding: 40px 40px 15px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 900;
    background-color: var(--editable);
    border-radius: 40px;
    width: 50%;
    margin: 0 auto;
}

#upload-wrapper:hover {
    border-color: var(--border);
}

.upload-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 25vh;
    border: 4px dashed var(--live);
    border-radius: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

.upload-area:hover {
    cursor: pointer;
}

*.dragging {
    cursor: grabbing;
}

.upload-area:hover,
.upload-area.dragging,
.upload-area.uploading {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;

}

.upload-area input {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    opacity: 0;
}

.upload-area input:focus {
    outline: none;
}

#upload-label {
    margin-top: 5px;
    color: var(--live);
}

#upload-label:hover {
    cursor: pointer;
}


.loading {
    /*min-height: 100%;*/
    background: linear-gradient(-45deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
    );
    background-size: 400% 400%;
    animation: loading-a 10s ease infinite;
    color: #FFFFFF;
}

@keyframes loading-a {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.blink-option {
    animation: blink-a 200ms normal;
}

@keyframes blink-a {
    0% {
        background-color: var(--engaged);
    }
    50% {
        background-color: var(--readable);
    }
    100% {
        background-color: var(--engaged);
    }
}

@media (prefers-reduced-motion) {
    .loading {
        background: rgba(var(--engaged), 0.7);
        animation: none;
    }

    .blink-option {
        animation: none;
    }
}

.links {
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 0;
    box-shadow: none;
    background-color: var(--readable);
}

.link-logo {
    height: 48px;
    width: auto;
    margin: 3px;
    cursor: pointer;
}

#magnifying-glass-icon {
    padding: 0 5px 0 10px;
}

.inline-icon {
    height: auto;
    width: 10px;
    padding: 0 5px;
}

.read-only {
    background-color: var(--readable);
}

.emoji-button {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    border: none;
    box-shadow: 1px 1px 1px 1px var(--shadow);
    padding: 3px 8px;
    margin: 3px;
}

.emoji-button:hover {
    opacity: 80%;
}

.emoji-button:disabled:hover {
    opacity: 100%;
}

.spread-option {
    justify-content: space-between;
    padding: 5px 5px;
}

.large-emoji {
    font-size: 3rem;
}

.expand-btn {
    width: 15px;
    height: auto;
}

.splash::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 1.5s;
    z-index: 1001;
    background: var(--shadow);
    opacity: 0.5;
}

.splash {
    background: transparent;
    font-size: 1.2rem;
    border: 0;
    color: var(--text);
    max-height: none;
    max-width: none;
    position: absolute;
    top: 0;
    bottom: auto;
}

.splash article {
    background: var(--background);
    border-radius: 50px;
    box-sizing: border-box;
    margin: 20px 50px;
    padding: 20px 50px;
    box-shadow: 10px 10px 10px 10px var(--shadow);
    border: solid 3px var(--border);
}

.splash header {
    text-align: center;
}

.splash h1 {
    text-decoration: underline;
}

.splash footer {
    text-align: center;
}

.splash form {
    font-size: 3rem;
}

.splash button {
    background-color: var(--live);
    color: var(--text);
    padding: 10px;
}

.rotated {
    transform: rotate(-90deg);
}

.splash {
    font-size: 1.2rem;
    z-index: 1500;
}

#import-export-btns {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
}

#import-export-btns > button {
    padding: 10px;
}

#help-button {
    margin-right: 20px;
}

.depressed {
    box-shadow: inset 3px 3px 10px var(--shadow);
    font-size: 1.8rem;
    padding: 5px 10px;
}

@media screen and (max-width: 900px) {
    #main {
        flex-direction: column;
        width: 98vw;
    }

    #top-controls {
        display: flex;
        flex-direction: row;
    }

    #main-area {
        height: auto;
        overflow-y: scroll;
        display: flex;
        flex-direction: column-reverse;
        justify-content: stretch;
        align-items: stretch;
        gap: 10px;

    }

    #description-wrapper {
        justify-content: stretch;
    }

    #descriptions {
        min-height: 20vh;
        margin: 0 auto;
        width: 90vw;
    }

    .search-width {
        width: 100%;
        min-width: 0;
        max-width: 80vw;
    }

    button {
        font-size: 2em;
    }

    .file-input-lbl {
        font-size: 2em;
    }
}
